@import '../../styles/var.scss';

.container {
    height: 100vh;
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
}

.info__block {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1000px;

    .title {
        margin-left: 120px;
        font-family: $fontIndivisible;
        font-size: 36px;
        color: #fff;
    }
}