@import '../../styles/var.scss';

.wrapper {
    background-color: $background;
    display: flex;
    justify-content: center;
}

.container {
    height: calc(100vh - 80px);
    color: #fff;
    width: 2000px;
}

.content {
    position: relative;
    margin: 0 150px;
    height: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 90px;
}

.title {
    font-family: $fontIndivisible;
    margin-bottom: 60px;
    font-size: 84px;
    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

.small__title {
    font-family: $fontInconsolata;
    font-size: 32px;
    font-weight: 400;
    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

.social__position {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btns {
    display: flex;
    gap: 20px;
}

.register__btn,
.login__btn {
    font-size: 18px;
    font-family: $fontInconsolata;
    color: #fff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 0px;
    width: 120px;
    border-radius: 5px;
}

.login__btn {
    background: #2374BD;
}

.login__hover {
    position: relative;

    &::before {
        content: '';
        width: 54px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        bottom: -1px;
        opacity: 0;
        transition: opacity 200ms;
    }
}

.login__btn:hover .login__hover::before {
    opacity: 1;
}

.register__btn {
    background: transparent;
    border: 1px solid #fff !important;
}

.register__hover {
    position: relative;

    &::before {
        content: '';
        width: 72px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        bottom: -1px;
        opacity: 0;
        transition: opacity 200ms;
    }
}

.register__btn:hover {
    .register__hover::before {
        opacity: 1;
    }
}