.form {
    display: flex;
    flex-direction: column;
    gap: 110px;

    div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.btn {
    background: #2374bd;
    height: 50px;
    border-radius: 6px;

    p {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
    }
}