@import '../../styles/var.scss';

.wrapper {
    background-color: #060606;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.container {
    width: 2000px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    font-family: $fontIndivisible;
    z-index: 2;
}

.right_side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.links {
    display: flex;
    gap: 35px;

    .link {
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
    }
}

.avatar {
    width: 48px;
    height: 48px;
    background-color: #D9D9D9;
    border-radius: 50%;
}