@import '../../styles/var.scss';

.container {
    background: #060606;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    font-family: $fontIndivisible;
    font-size: 24px;
}

.message {
    font-family: $fontIndivisible;
    font-size: 20px;
}

.btn__container {
    display: flex;
    flex-direction: row;
    gap: 15px;

    button {
        color: #fff;
        padding: 10px 70px;
        border: none;
        border-radius: 6px;
        font-family: $fontInconsolata;
        font-size: 18px;
        cursor: pointer;
    }
}

.dis_btn {
    background-color: $background;
}

.confirm_btn {
    background-color: #EA113F;
}