@import '../../../styles/var.scss';

.wrapper {
    position: relative;
    background-color: $background;
    color: #fff;
    font-family: $fontIndivisible;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 170px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 200px;
}

.btn {
    position: absolute;
    top: 170px;
    left: 15vw;
    background-color: #060606;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    transform: rotate(180deg);
    margin-right: 5px;
}