@import '../../../styles/var.scss';

.wrapper {
    background-color: $background;
    color: #fff;
    font-family: $fontIndivisible;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    gap: 50px;
    padding-top: 200px;
    padding-bottom: 200px;

    h2 {
        font-size: 32px;
        margin-bottom: 15px;
    }
}

.left_side {
    flex: 2;
}

.right_side {
    flex: 1;
}